@charset "UTF-8";
@use "./_mixin" as *;

/*=========== wrap =============*/

html,
body {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "돋움", "Dotum",
    "AppleGothic", sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  letter-spacing: -0.02em;
  font-size: 16px;
  color: #000;
  font-weight: 500;
}
.wrap {
  width: 1280px;
  margin: 0 auto;
}
button,
input[type="button"] {
  cursor: pointer;
}

/*=========== space =============*/

@for $i from 0 through 10 {
  .padding#{$i*4} {
    padding: 4px * $i !important;
  }
  .padding-l-#{$i*4} {
    padding-left: 4px * $i !important;
  }
  .padding-t-#{$i*4} {
    padding-top: 4px * $i !important;
  }
  .padding-b-#{$i*4} {
    padding-bottom: 4px * $i !important;
  }
  .padding-r-#{$i*4} {
    padding-right: 4px * $i !important;
  }
  .margin#{$i*4} {
    margin: 4px * $i !important;
  }
  .margin-l-#{$i*4} {
    margin-left: 4px * $i !important;
  }
  .margin-t-#{$i*4} {
    margin-top: 4px * $i !important;
  }
  .margin-b-#{$i*4} {
    margin-bottom: 4px * $i !important;
  }
  .margin-r-#{$i*4} {
    margin-right: 4px * $i !important;
  }
}

@for $i from 0 through 20 {
  .w#{$i*5}p {
    width: 5% * $i !important;
  }
}
@for $i from 0 through 100 {
  .w#{$i*5} {
    width: 5px * $i !important;
  }
}

/*=========== align =============*/
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

/*=========== decoration =============*/

.underline {
  text-decoration: underline;
}

/*=========== accessibility  ==============*/
.accessibility {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  overflow: hidden;
  > a {
    display: block;
    overflow: hidden;
    position: relative;
    height: 0;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    &:focus {
      width: auto;
      height: 30px;
      margin: 0;
      padding: 8px 0;
      background: #20262c;
      font-size: 14px;
      font-weight: 700;
      line-height: 1;
      color: #fff;
    }
  }
}

/*============ tab ==============*/

.tabs {
  > .tab-btn-box {
    .tab-btn {
      &.active {
      }
    }
  }
  > .tab-con-box {
    .tab-con {
      display: none;
      &.active {
        display: block;
      }
    }
  }
}
