@charset "UTF-8";
@use "./_mixin" as *;

/*============  variant ============*/
/*
 variant 원칙
 - :root variant를 기본을 사용한다.
 - 부득이 2줄 이상의 variant가 필요할 때 _mixin을 사용한다.
 - _mixin에 정의한 variant는 동일한 변수명(snake 방식)으로 default class로 정의한다.
*/
:root {
  --c-brand: #dc0014;
  --c-white: #fff;
  --c-black: #000;
  --c-gray-10: #fafafa;
  --c-gray-20: #eeeeee;
  --c-gray-30: #dddddd;
  --c-gray-40: #70737c;
  --c-gray-50: #a0a2a8;
  --c-gray-60: #70737c;
  --c-gray-70: #27292e;
}

/*============  font-noto sans ============*/

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url("@/public/fonts/noto/NotoSansKR-Light.woff2") format("woff2"),
    url("@/public/fonts/noto/NotoSansKR-Light.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("@/public/fonts/noto/NotoSansKR-Regular.woff2") format("woff2"),
    url("@/public/fonts/noto/NotoSansKR-Regular.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url("@/public/fonts/noto/NotoSansKR-Medium.woff2") format("woff2"),
    url("@/public/fonts/noto/NotoSansKR-Medium.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: bold;
  font-weight: 600;
  src: url("@/public/fonts/noto/NotoSansKR-Bold.woff2") format("woff2"),
    url("@/public/fonts/noto/NotoSansKR-Bold.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url("@/public/fonts/noto/NotoSansKR-Black.woff2") format("woff2"),
    url("@/public/fonts/noto/NotoSansKR-Black.woff") format("woff");
}

/*============  font-pretendard ============*/
/*@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard ExtraBold"),
    url(@/public/fonts/pretendard/Pretendard-ExtraBold.subset.woff2) format("woff2"),
    url(@/public/fonts/pretendard/retendard-ExtraBold.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard Bold"),
    url(@/public/fonts/pretendard/Pretendard-Bold.subset.woff2) format("woff2"),
    url(@/public/fonts/pretendard/retendard-Bold.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url(@/public/fonts/pretendard/Pretendard-SemiBold.subset.woff2) format("woff2"),
    url(@/public/fonts/pretendard/retendard-SemiBold.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard Medium"),
    url(@/public/fonts/pretendard/Pretendard-Medium.subset.woff2) format("woff2"),
    url(@/public/fonts/pretendard/retendard-Medium.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Regular"),
    url(@/public/fonts/pretendard/Pretendard-Regular.subset.woff2) format("woff2"),
    url(@/public/fonts/pretendard/retendard-Regular.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Light"),
    url(@/public/fonts/pretendard/Pretendard-Light.subset.woff2) format("woff2"),
    url(@/public/fonts/pretendard/retendard-Light.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard ExtraLight"),
    url(@/public/fonts/pretendard/Pretendard-ExtraLight.subset.woff2) format("woff2"),
    url(@/public/fonts/pretendard/retendard-ExtraLight.subset.woff) format("woff");
}
*/
/*=========== default(함께학교 동일) =============*/

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  max-height: fit-content;
  overflow-y: auto;
  -ms-overflow-x: hidden;
  -webkit-tap-highlight-color: unset !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  word-break: keep-all;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  -webkit-text-size-adjust: none;
  background-color: #fff;
}

body,
input,
select,
button,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
table {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "돋움", "Dotum",
    "AppleGothic", sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 15px;
  font-weight: 400;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: keep-all;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

label {
  vertical-align: middle;
  cursor: pointer;
}

address,
em {
  font-style: normal;
}

fieldset,
img {
  border: 0;
  vertical-align: middle;
}

button {
  border: 0;
  background-color: transparent;
  vertical-align: middle;
  cursor: pointer;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
  margin: 0;
  padding: 0;
}

blockquote,
body,
button,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
select,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  word-break: break-all;
}

em {
  font-style: normal;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

a[href^="tel:"] {
  cursor: text;
}

a.disabled,
button.disabled {
  background: #a0a0a0 !important;
  pointer-events: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

iframe {
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

.transparents-layer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  -ms-filter: alpha(opacity=50);
  filter: alpha(opacity=50);
}

img {
  border: 0;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  image-rendering: -moz-auto;
  /* Firefox */
  image-rendering: -o-auto;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: auto;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
}

dl,
li,
menu,
ol,
ul {
  list-style: none;
}

input::-ms-clear {
  display: none;
}

body.pinch-zoom {
  -ms-touch-action: auto;
  touch-action: auto;
}

button,
input,
select,
textarea {
  vertical-align: middle;
  border: none;
  border-radius: 0;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="date"],
select,
textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  width: 100%;
  height: 45px;
  color: #000;
  border: 1px solid #d7d7d7;
  padding: 5px 10px;
  background: #fff;
  border-radius: 5px;
}

textarea {
  padding: 12px;
  line-height: 1.5;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="date"]:focus {
  vertical-align: middle;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #7a7a7a;
}

/* input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;} */
textarea {
  resize: vertical;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  resize: none;
}

input[type="image"] {
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type="button"],
input[type="submit"] {
  -webkit-appearance: button;
  border-radius: 0;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

select::-ms-expand {
  display: none;
}

progress {
  -webkit-appearance: none;
}

figcaption,
caption,
legend,
.blind,
.skip {
  position: fixed;
  overflow: hidden;
  border: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}

.hidden {
  display: none !important;
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  -webkit-polygon: (0 0, 0 0, 0 0);
  overflow: hidden;
}

.float_none {
  float: none !important;
}

.skip_navigation {
  display: block;
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  padding: 10px 0;
  color: #fff;
  background: #000;
  text-align: center;
  z-index: 1000;
}

.skip_navigation a:focus {
  top: 0;
}

.common_inner {
  max-width: 1140px;
  margin: 0 auto;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: inset 0 0 3px #ddd;
}

a:focus-visible,
button:focus-visible {
  outline: 1px dashed #ccc;
  outline-offset: 0;
}

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  outline: none;
}

input[type="checkbox"]:focus-visible + label i,
input[type="checkbox"]:focus-visible + label::before,
input[type="radio"]:focus-visible + label i,
input[type="radio"]:focus-visible + label::before {
  outline: 1px dashed #ccc;
  outline-offset: 0;
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  opacity: 0.7;
  cursor: default;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  height: 30px;
  background: #dadada;
  min-height: 5px;
  border-radius: 30px;
  background-clip: padding-box;
  border: 4px solid transparent;
}
/* 추가 */
::before,
::after {
  content: "";
  display: none;
}
li {
  display: block;
}

/*=========== wrap =============*/

html,
body {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "돋움", "Dotum",
    "AppleGothic", sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  letter-spacing: -0.02em;
  font-size: 16px;
  color: #000;
  font-weight: 500;
}
.wrap {
  width: 1280px;
  margin: 0 auto;
}

/*=========== space =============*/

@for $i from 0 through 10 {
  .padding#{$i*4} {
    padding: 4px * $i !important;
  }
  .padding-l-#{$i*4} {
    padding-left: 4px * $i !important;
  }
  .padding-t-#{$i*4} {
    padding-top: 4px * $i !important;
  }
  .padding-b-#{$i*4} {
    padding-bottom: 4px * $i !important;
  }
  .padding-r-#{$i*4} {
    padding-right: 4px * $i !important;
  }
  .margin#{$i*4} {
    margin: 4px * $i !important;
  }
  .margin-l-#{$i*4} {
    margin-left: 4px * $i !important;
  }
  .margin-t-#{$i*4} {
    margin-top: 4px * $i !important;
  }
  .margin-b-#{$i*4} {
    margin-bottom: 4px * $i !important;
  }
  .margin-r-#{$i*4} {
    margin-right: 4px * $i !important;
  }
}

@for $i from 0 through 20 {
  .w#{$i*5}p {
    width: 5% * $i !important;
  }
}
@for $i from 0 through 100 {
  .w#{$i*5} {
    width: 5px * $i !important;
  }
}

/*=========== align =============*/
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

/*=========== decoration =============*/

.underline {
  text-decoration: underline;
}

/*=========== accessibility  ==============*/
.accessibility {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  overflow: hidden;
  > a {
    display: block;
    overflow: hidden;
    position: relative;
    height: 0;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    &:focus {
      width: auto;
      height: 30px;
      margin: 0;
      padding: 8px 0;
      background: #20262c;
      font-size: 14px;
      font-weight: 700;
      line-height: 1;
      color: #fff;
    }
  }
}

/*============ slick ==============*/
.slick-slider {
  position: relative;
}
.slick-list {
  overflow: hidden;
  position: relative;
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
}

/*============ tab ==============*/

.tabs {
  > .tab-btn-box {
    .tab-btn {
      &.active {
      }
    }
  }
  > .tab-con-box {
    .tab-con {
      display: none;
      &.active {
        display: block;
      }
    }
  }
}
