@charset "UTF-8";
@use "./_mixin" as *;

/*=========== wrap =============*/

html,
body {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "돋움", "Dotum",
    "AppleGothic", sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  letter-spacing: -0.02em;
  font-size: 16px;
  color: #000;
  font-weight: 500;
}
.wrap {
  width: 1280px;
  margin: 0 auto;
}
button,
input[type="button"] {
  cursor: pointer;
}
::before,
::after {
}
#__nuxt {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: auto 1fr auto;
  .accessibility {
  }
  .header {
    grid-area: header;
  }
  .content {
    grid-area: content;
    min-height: 300px;
    > .wrap {
      padding-top: 80px;
    }
  }
  .footer {
    grid-area: footer;
  }
}

/*=========== space =============*/

@for $i from 0 through 10 {
  .padding#{$i*4} {
    padding: 4px * $i !important;
  }
  .padding-l-#{$i*4} {
    padding-left: 4px * $i !important;
  }
  .padding-t-#{$i*4} {
    padding-top: 4px * $i !important;
  }
  .padding-b-#{$i*4} {
    padding-bottom: 4px * $i !important;
  }
  .padding-r-#{$i*4} {
    padding-right: 4px * $i !important;
  }
  .margin#{$i*4} {
    margin: 4px * $i !important;
  }
  .margin-l-#{$i*4} {
    margin-left: 4px * $i !important;
  }
  .margin-t-#{$i*4} {
    margin-top: 4px * $i !important;
  }
  .margin-b-#{$i*4} {
    margin-bottom: 4px * $i !important;
  }
  .margin-r-#{$i*4} {
    margin-right: 4px * $i !important;
  }
}

@for $i from 0 through 20 {
  .w#{$i*5}p {
    width: 5% * $i !important;
  }
}
@for $i from 0 through 100 {
  .w#{$i*5} {
    width: 5px * $i !important;
  }
}

/*=========== align =============*/
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

/*=========== decoration =============*/

.underline {
  text-decoration: underline;
}

/*=========== accessibility  ==============*/
.accessibility {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  overflow: hidden;
  > a {
    display: block;
    overflow: hidden;
    position: relative;
    height: 0;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    &:focus {
      width: auto;
      height: 30px;
      margin: 0;
      padding: 8px 0;
      background: #20262c;
      font-size: 14px;
      font-weight: 700;
      line-height: 1;
      color: #fff;
    }
  }
}

/*============ tab ==============*/

.tabs {
  > .tab-btn-box {
    .tab-btn {
      &.active {
      }
    }
  }
  > .tab-con-box {
    .tab-con {
      display: none;
      &.active {
        display: block;
      }
    }
  }
}

/* font */

h2,
.h2 {
  font-size: 48px;
}
h3,
.h3 {
  font-size: 36px;
}
h4,
.h4 {
  font-size: 24px;
}
h5,
.h5 {
  font-size: 20px;
}
h6,
.h6 {
  font-size: 18px;
}

/*=================== sub layout(top) ======================*/

.sub-top {
  height: 329px;
  background-color: rgba(216, 240, 183, 0.2);
  > .wrap {
    position: relative;
    height: inherit;
    display: flex;
    align-items: center;
  }
  .title {
    padding-bottom: 54px;
    h2 {
      font-size: 40px;
      line-height: 48px;
      font-weight: 700;
      color: #323232;
    }
    .sub-title {
      margin-top: 16px;
      font-size: 24px;
      line-height: 29px;
      font-weight: 400;
      color: #666;
    }
  }
  .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}
.breadcrumb-wrap {
  padding-top: 60px;
  > .wrap {
    display: flex;
    justify-content: space-between;
  }
}
.sns {
  display: flex;
  align-items: center;
  gap: 8px;
}
.breadcrumb {
}
.breadcrumb-list {
  display: flex;
  align-items: center;
  gap: 22px;
}
.breadcrumb-item {
  font-size: 24px;
  color: #666;
  .breadcrumb-anchor {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .dropdown-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: inherit;
    color: inherit;
    box-shadow: none;
    padding: 0;
    &:hover {
      background-color: transparent;
    }
    &[aria-expanded="true"] {
      font-weight: 600;
      color: #323232;
    }
  }
}
[data-reka-popper-content-wrapper] {
  [data-dismissable-layer] {
    box-shadow: 0 0 15 rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    padding: 24px 0 24px;
  }
  [data-reka-collection-item] {
    font-size: 22px;
    line-height: 2.2;
    color: #666;
    padding: 2px 24px;
    &:hover {
      background-color: #000a6b;
      color: #fff;
      font-weight: 600;
    }
  }
  [role="group"] {
    padding: 0;
  }
}
