.footer {
  padding-bottom: 50px;
  .wrap {
    display: flex;
  }
}
.footer-con {
  flex: 1;
  .footer-line {
    &.anchor-line {
      padding-top: 40px;
      padding-bottom: 20px;
      margin-bottom: 30px;
      border-bottom: 1px solid #ddd;
      > .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
  .footer-anchor-list {
    display: flex;
    align-items: center;
    gap: 37px;
  }
  .footer-anchor-item {
    display: flex;
    align-items: center;
    position: relative;
    &::after {
      display: inline-block;
      position: absolute;
      right: -19px;
      content: "";
      width: 1px;
      height: 12px;
      background-color: #cdcdcd;
    }
    &:last-child::after {
      display: none;
    }
    .footer-anchor {
      font-size: 18px;
      color: #666;
    }
    &.safety .footer-anchor {
      font-weight: 700;
      color: #000a6b;
    }
  }
  .sns-list {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: 30px;
  }
  .sns-item {
    .sns-anchor {
      filter: grayscale(1);
      display: block;
      width: 28px;
      height: 28px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      font-size: 0;
      line-height: 0;
      span {
        font-size: 16px;
        line-height: 1;
      }
    }
    &.play-store .sns-anchor {
      background-image: url(@/public/images/common/playstore.png);
    }
    &.app-store .sns-anchor {
      background-image: url(@/public/images/common/appstore.png);
    }
    &.instagram .sns-anchor {
      background-image: url(@/public/images/common/instagram.png);
    }
    &.youtube .sns-anchor {
      background-image: url(@/public/images/common/youtube.png);
    }
    &.btn .sns-anchor {
      border: 1px solid #ddd;
      background-color: #fff;
      color: #333;
      border-radius: 10px;
      padding: 10px 20px;
      width: auto;
      height: auto;
    }
  }
  .logo-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 102px;
    margin-right: 40px;
  }
  .logo-item {
    display: block;
    .logo-anchor {
      display: block;
      img {
        width: 100%;
      }
    }
  }
  .footer-info-list {
    flex: 1;
  }
  .footer-info-item {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 10px;
    margin-right: 5px;
  }
  div.footer-info-item {
    display: block;
  }
}
.footer-cert {
  display: flex;
  padding-top: 30px;
  // justify-content: center;
  align-items: center;
  .footer-cert-logo {
    .footer-cert-anchor {
      img {
        width: 75px;
        height: auto;
      }
    }
  }
  .footer-cert-text {
    margin-top: 10px;
    margin-left: 20px;
    color: #666;
    font-size: 16px;
    line-height: 1.5;
  }
}

.quick-menu {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &.active {
    .quick-wrap {
      .fold-btn {
        background-color: #1864bb;
        color: #fff;
        font-size: 0;
        line-height: 0;
        svg {
          display: block;
          width: 24px;
          height: 24px;
        }
      }
    }
    .quick-list {
    }
  }
  &[data-top="top"] {
    .top-btn {
      display: none;
    }
  }
  .quick-wrap {
    width: 100%;
    .fold-btn {
      width: 100%;
      height: 40px;
      border-radius: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 10px;
      border: 1px solid #999;
      background-color: #fff;
      transition: all 0.2s;
      svg {
        display: none;
      }
    }
    .quick-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .quick-item {
      width: 100%;
      .quick-anchor {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 1px solid #999;
        background-color: #fff;
      }
    }
  }
  .top-btn {
    margin-top: 15px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #999;
    background-color: #fff;
  }
}
